body {
  font-family: "Poppins" !important;
}
.custom-bg-pry {
  background-color: #202f66;
}
.custom-bg-sec {
  background-color: aliceblue;
}
.custom-bg-dark {
  background-color: #1d1918;
  color: aliceblue;
}
